## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Determine the number of unique values in each column.
column_unique_counts = application_df.nunique()
print(column_unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_filtered = classification_counts[classification_counts > 1]
print(classification_counts_filtered)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 500].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
# Select the columns with categorical variables
categorical_columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# Convert categorical variables to numeric
application_df_encoded = pd.get_dummies(application_df, columns=categorical_columns)

# Display the encoded DataFrame
print(application_df_encoded.head())

   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
0     5000              1                       0                     1
1   108590              1                       0                     0
2     5000              0                       0                     0
3     6692              1                       0                     0
4   142590              1                       0                     0

   APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                     0                    0                    0
1                     0                    1                    0
2                     0                    0                    0
3                     0                    1                    0
4                     0                    1                    0

   APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    1                    0                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 46 columns]

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_df_encoded.drop('IS_SUCCESSFUL', axis=1)
y = application_df_encoded['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the shapes of the training and testing sets
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 45)
y_train shape: (27439,)
X_test shape: (6860, 45)
y_test shape: (6860,)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=32, input_dim=X_train_scaled.shape[1], activation='relu'))

# Second hidden layer
nn.add(Dense(units=16, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                1472

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 2,017
Trainable params: 2,017
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
model_history = nn.fit(X_train_scaled, y_train, epochs=50, batch_size=32, verbose=1)

Epoch 1/50
858/858 [==============================] - 2s 1ms/step - loss: 0.5772 - accuracy: 0.7158
Epoch 2/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5557 - accuracy: 0.7278
Epoch 3/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5530 - accuracy: 0.7293
Epoch 4/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7308
Epoch 5/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7313
Epoch 6/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7307
Epoch 7/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7326
Epoch 8/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7320
Epoch 9/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7329
Epoch 10/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7311
Epoch 11/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7335
Epoch 12/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7336
Epoch 13/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7323
Epoch 14/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7329
Epoch 15/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7327
Epoch 16/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7324
Epoch 17/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7349
Epoch 18/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7323
Epoch 19/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7335
Epoch 20/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7347
Epoch 21/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7343
Epoch 22/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7334
Epoch 23/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7351
Epoch 24/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7357
Epoch 25/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7350
Epoch 26/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7359
Epoch 27/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7356
Epoch 28/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7352
Epoch 29/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7359
Epoch 30/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7353
Epoch 31/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7366
Epoch 32/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7371
Epoch 33/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7363
Epoch 34/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7361
Epoch 35/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7365
Epoch 36/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7379
Epoch 37/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7369
Epoch 38/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7366
Epoch 39/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7365
Epoch 40/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7376
Epoch 41/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7368
Epoch 42/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7367
Epoch 43/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7368
Epoch 44/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7364
Epoch 45/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7359
Epoch 46/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7375
Epoch 47/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7369
Epoch 48/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7379
Epoch 49/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7371
Epoch 50/50
858/858 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7375

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5561 - accuracy: 0.7286 - 297ms/epoch - 1ms/step
Loss: 0.5560535788536072, Accuracy: 0.7285714149475098

In [19]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")